@model IEnumerable<DataSource.Book>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_Layout.cshtml";
    
    
    
}






<fieldset>

    <legend></legend>
    <div class="container" style="padding-top:5%">
        <div id="gototop"> </div>


        <h3>Click to buy this products </h3>
        <ul class="thumbnails">
            @foreach (var item in Model)
            {
            <li class="span3">
                <div class="thumbnail">
                    <a href="product_details.html" class="overlay"></a>
                    <a href="product_details.html">@Html.Raw("<img src=/"+"images"+"/"+item.bookId+".jpg>")</a>
                    <div class="caption cntr">
                        <p><b>Book:</b>@Html.DisplayFor(modelItem => item.bookName)</p>
                        <p><b>Price:</b>@Html.DisplayFor(modelItem => item.price)</p>
                        <p> <b>Author:</b>@Html.DisplayFor(modelItem => item.authorName)</p>
                        
         
            @ViewBag.dta
                        

                           
                        <h4><a class="shopBtn" href="#" title="add to cart"> Add to cart </a></h4>
                     
                        <br class="clr">
                    </div>
                </li>
               
                
           
            }
                 

        </ul>


    </div><!-- /container -->


    <a href="#" class="gotop"><i class="icon-double-angle-up"></i></a>

    </fieldset>