@model IEnumerable<DataSource.category>

@{
    ViewBag.Title = "catList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>catList</h2>

<p style="margin-left: 500px">
    @Html.ActionLink("Create New", "createCat")
</p>
<table style="margin-left: 500px" border="1">
    <tr>
        <th>
           <span style="margin-left:20px">Category Name</span>
        </th>
        <th>
            <span style="margin-left:40px">Action</span>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.catName)
        </td>
        <td>

            @Html.ActionLink("Edit", "Edit", new { id=item.catId }) |
            @Html.ActionLink("Details", "Details", new { id=item.catId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.catId })
        </td>
    </tr>
}

</table>
