@model DataSource.Book

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>
<div style="margin-left:530px">
<h3>Are you sure you want to delete this?</h3>

    

    <div class="display-label">
         @Html.DisplayNameFor(model => model.bookName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.bookName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.publishYear)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.publishYear)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.price)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.quantity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.quantity)
    </div>

   
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "List")
    </p>
}
    
</div>